*{
    padding: 15px;
    margin: 2px;
    border: 0ch;
}
#content{
  color: rgb(120, 81, 31);
}

.contentItem{
    color:blueviolet;
}
/* child selector */
div>p{
  color:brown;
}
div + p{
    background-color: rgb(15, 15, 2);
}